#rectangle1{
    background-color: rgb(41, 151, 87);
    width: 85%;
    height: 50px; /* la hauteur quasiment toujours en pixels*/
}
#rectangle2{
    background-color: blue;
    width: 15%;
    height: 50px;
}
#rectangle3{
    background-color: rgba(255, 0, 0, 0.692);
    width: 40%;
    height: 100px;
}
#rectangle4{
    background-color: orangered;
    width: 30%;
    height: 50px;
}
#rectangle5{
    background-color: grey;
    width: 30%;
    height: 50px;
}
#rectangle6{
    background-color: rgba(226, 159, 35, 0.829);
    width: 20%;
    height: 50px;
}
#rectangle7{
    background-color: rgb(51, 143, 134);
    width: 20%;
    height: 50px;
}
#rectangle8{
    background-color: orangered;
    width: 20%;
    height: 50px;
}
#rectangle9{
    background-color: rgb(49, 68, 68);
    width: 100%;
    height: 200px;
}
div{
    float: left; /* changer le comportement des div */
}